/*Responsive: Portrait tablets and up*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .header-white-persist {
        color: white;
        font-family: Arvo-Regular;
        font-size: 4rem;
        letter-spacing: 2.0rem;
        line-height: 100px;
        text-align: center;
        z-index: 999;
    }
}

/* USER DEFINED STYLE RULES */

@font-face {
    font-family: 'Ikaros-Regular';
    src: url('../fonts/Ikaros/Ikaros-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Arvo-Regular';
    src: url('../fonts/Arvo/Arvo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Exo-Light';
    src: url('../fonts/Exo/Exo-Light.ttf') format('truetype');
}

.nospinner::-webkit-outer-spin-button,
.nospinner[type="number"]::-webkit-inner-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}

.nospinner { -moz-appearance: textfield; }

.wrap {
    font-size: 14px;
    padding: 30px;
}

.backdrop {
    background-image: url('Images/RestoBackdrop.jpg');
    background-size: cover;
    /*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    height: 100%;
    left: 0;
    line-height: 18.5714px;
    padding-bottom: 20px;
    padding-top: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0; /* In the back you goo */
}

.backdrop-tint {
    background: rgba(40, 40, 40, 0.95);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /* Just to keep it at the very top */
}

.title-border {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: auto;
    margin: 15px 0;
    padding: 20px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
}

.divider {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.divider hr {
    margin: 7px 0px;
    width: 5rem;
}

.left { float: left; }

.right { float: right; }

/*HOME*/

#home-banner {
    background-image: url('Images/restaurants/restoA.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.image-holder:before {
    background: rgba(40, 40, 40, 0.8);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s linear;
}

.image-holder {
    height: auto;
    position: relative;
    width: auto;
}

.header-white-persist {
    color: white;
    font-family: Arvo-Regular;
    font-size: 8vw;
    letter-spacing: 2.5rem;
    line-height: 150px;
    text-align: center;
    z-index: 999;
}

.header-black-20 {
    color: black;
    font-family: Arvo-Regular;
    font-size: 20vw;
    line-height: 150px;
    text-align: center;
}

.header-text-ikaros-black { font-family: Exo-Light; }

.crop {
    box-shadow: 5px 5px 5px 5px;
    height: 691px;
    margin: 0 0 0 0;
    overflow: hidden;
    width: 465px;
}

#present-A {
    background-attachment: fixed;
    background-image: url('Images/food/foodE.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px 5px;
    height: 691px;
    width: 465px;
}

#present-B {
    background-attachment: fixed;
    background-image: url('Images/food/foodD.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px 5px;
    height: 691px;
    margin-left: -10px;
    width: 465px;
}

#present-C {
    background-attachment: fixed;
    background-image: url('Images/food/foodG.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px 5px;
    height: 691px;
    width: 465px;
}

/* Form Check List Styling */

.checkbox-list td {
    display: block;
    padding-left: 1.25rem;
    position: relative;
}

.checkbox-list td input {
    margin-left: -1.25rem;
    margin-top: 0.3rem;
    position: absolute;
}

.checkbox-list td label { margin-bottom: 0; }