<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>
    </SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/VelenicasRMS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VelenicasRMSConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=ARVIN-LAPTOP;Initial Catalog=VelenicasRMS;User ID=VelenicasRMS;Password=aqA4wLoPHivyZyB6K2y@#9$9" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ARVIN-LAPTOP;Initial Catalog=VelenicasRMS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VelenicasRMSConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ARVIN-LAPTOP;Initial Catalog=VelenicasRMS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VelenicasSecurityDBConnectionString" Order="4" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=VelenicasSecurityDB;User ID=VelenicasRMS;Password=aqA4wLoPHivyZyB6K2y@#9$9" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ARVIN-LAPTOP;Initial Catalog=VelenicasSecurityDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VelenicasSecurityDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ARVIN-LAPTOP;Initial Catalog=VelenicasSecurityDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="VelenicasSecurityDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=VelenicasSecurityDB;User ID=VelenicasRMS;Password=aqA4wLoPHivyZyB6K2y@#9$9</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="VelenicasRMSConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=ARVIN-LAPTOP;Initial Catalog=VelenicasRMS;User ID=VelenicasRMS;Password=aqA4wLoPHivyZyB6K2y@#9$9</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="RestaurantModelContainer-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AccountsConnectionString-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>